<div class="bg-white px-lg-5 py-5">
    <div class="container py-5 px-3 bg-light-clr form-effect">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center fw-bold text-uppercase">New Categories</h3>
                <p class="text-center">You can add new categories from here.</p>
                <form class="row g-3 my-3 px-2" #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
                    <div class="form-group col-md-10">
                        <input type="text" name="category" class="form-control" placeholder="Add New Categories" ngModel>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-block btn-primary w-100 px-1">Add Category</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>