@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --primary-color: #c3002f;
    --secondary-color: #1565C0;
    --dark-color: #424242;
    --light-color: #eaeaea;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    background-color: var(--dark-color) !important;
}

.bg-primary-clr {
    background-color: var(--primary-color);
}

.bg-secondary-clr {
    background-color: var(--secondary-color);
}

.bg-dark-clr {
    background-color: var(--dark-color);
}

.bg-light-clr {
    background-color: var(--light-color);
}

.txt-primary-clr {
    color: var(--primary-color);
}

.txt-secondary-clr {
    color: var(--secondary-color);
}

.txt-dark-clr {
    color: var(--dark-color);
}

.txt-light-clr {
    color: var(--light-color);
}

.card-effect {
    max-width: fit-content;
    padding-inline: 0rem !important;
    border: none !important;
    box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}