<div class="bg-white px-lg-5 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card form-effect card-cursor" routerLink="/categories">
                    <div class="card-body text-center bg-light-clr py-5 px-5">
                        <h2 class="txt-secondary-clr">
                            <fa-icon 
                                [icon]="faClipboardList"
                            >
                            </fa-icon>
                        </h2>
                        <h2 class="card-title text-uppercase text-primary">Category</h2>
                        <p class="card-text">Manage your Category Details Here</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>