<div class="container-fluid bg-secondary-clr py-4">
    <section class="px-2">
        <div class="row row-col-md-12 text-center mb-3">
            <h2 class="text-white fw-bold">Featured Posts</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
            <div class="col">
                <app-post-card />
            </div>
            <div class="col">
                <app-post-card />
            </div>
            <div class="col">
                <app-post-card />
            </div>
            <div class="col">
                <app-post-card />
            </div>
        </div>
    </section>    
</div>
<div class="container pb-4">
    <section class="subscription-form mt-5">
        <app-subscription-form />
    </section>
</div>