footer {
    height: 6.25rem;
    padding: 1rem;
    background-color: var(--navbar-footer-color);
}

.nav-link {
    color: var(--primary-color);
    text-decoration: none;
    background-image: linear-gradient(var(--primary-color), var(--primary-color));
    background-size: 0 2px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}

.nav-link:hover {
    background-size: 100% 3px, auto;
}