footer {
    height: 6.25rem;
    padding: 1rem;
    background-color: var(--navbar-footer-color);
}

.nav-link {
    color: var(--primary-color);
}

.nav-link:hover {
    color: var(--body-text-color);
}