<footer>
    <div class="container">
        <div class="row row-col text-center">
            <ul class="nav justify-content-center">
                <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/terms-and-conditions" class="nav-link">Terms</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
            </ul>
            <p class="text-dark-clr my-2">Copyright © 2023 Angular Blog Developed By Kanishka Priyashantha.</p>
        </div>
    </div>
</footer>