<div class="bg-white px-lg-5 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-8 col-xl-9 mb-3">
                <div class="card card-effect">
                    <img class="card-img-top" src="assets/Front-End-Developer-Roadmap.webp"
                        alt="Frontend Developer Roadmap">
                    <div class="card-body">
                        <small class="bg-light text-danger text-center">Design</small>
                        <small class="bg-light text-success text-center ms-3">Featured</small>
                        <small class="bg-light text-info text-center ms-3">Views - 100,250</small>
                        <small class="text-warning fw-bold ms-3">LAST UPDATED - SEP 08, 2023</small>
                        <h2 class="card-title text-uppercase text-primary">Frontend Developer Roadmap</h2>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, molestiae
                            sit perspiciatis minus velit in vitae! Deserunt temporibus suscipit rem error minima iure,
                            voluptate dolorum sit? Adipisci eos quod laboriosam? Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit. Illum, molestiae sit perspiciatis minus velit in vitae! Deserunt
                            temporibus suscipit rem error minima iure, voluptate dolorum sit? Adipisci eos quod
                            laboriosam? </p>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, molestiae
                            sit perspiciatis minus velit in vitae! Deserunt temporibus suscipit rem error minima iure,
                            voluptate dolorum sit? Adipisci eos quod laboriosam? Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit. Illum, molestiae sit perspiciatis minus velit in vitae! Deserunt
                            temporibus suscipit rem error minima iure, voluptate dolorum sit? Adipisci eos quod
                            laboriosam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, molestiae sit
                            perspiciatis minus velit in vitae! Deserunt temporibus suscipit rem error minima iure,
                            voluptate dolorum sit? Adipisci eos quod laboriosam? Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit. Illum, molestiae sit perspiciatis minus velit in vitae! Deserunt
                            temporibus suscipit rem error minima iure, voluptate dolorum sit? Adipisci eos quod
                            laboriosam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, molestiae sit
                            perspiciatis minus velit in vitae! Deserunt temporibus suscipit rem error minima iure,
                            voluptate dolorum sit? Adipisci eos quod laboriosam? </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-4 col-xl-3">
                <div class="mb-3">
                    <app-post-card />
                </div>
                <div class="mb-3">
                    <app-post-card />
                </div>
                <div class="mb-3">
                    <app-post-card />
                </div>
                <div class="">
                    <app-post-card />
                </div>
            </div>
        </div>
    </div>
</div>