<section class="bg-white px-lg-5 pb-5">
    <div class="container bg-secondary-clr p-5">
        <h1 class="text-white text-center fw-bold pb-5">Terms & Conditions</h1>
        <div class="bg-white py-5 px-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi maxime sunt, reprehenderit perferendis fuga odio libero soluta, asperiores molestias recusandae omnis autem odit sequi labore. Totam sunt quasi fugiat possimus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi maxime sunt, reprehenderit perferendis fuga odio libero soluta, asperiores molestias recusandae omnis autem odit sequi labore. Totam sunt quasi fugiat possimus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi maxime sunt, reprehenderit perferendis fuga odio libero soluta, asperiores molestias recusandae omnis autem odit sequi labore. Totam sunt quasi fugiat possimus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi maxime sunt, reprehenderit perferendis fuga odio libero soluta, asperiores molestias recusandae omnis autem odit sequi labore. Totam sunt quasi fugiat possimus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi maxime sunt, reprehenderit perferendis fuga odio libero soluta, asperiores molestias recusandae omnis autem odit sequi labore. Totam sunt quasi fugiat possimus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi maxime sunt, reprehenderit perferendis fuga odio libero soluta, asperiores molestias recusandae omnis autem odit sequi labore. Totam sunt quasi fugiat possimus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi maxime sunt, reprehenderit perferendis fuga odio libero soluta, asperiores molestias recusandae omnis autem odit sequi labore. Totam sunt quasi fugiat possimus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi maxime sunt, reprehenderit perferendis fuga odio libero soluta, asperiores molestias recusandae omnis autem odit sequi labore. Totam sunt quasi fugiat possimus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi maxime sunt, reprehenderit perferendis fuga odio libero soluta, asperiores molestias recusandae omnis autem odit sequi labore. Totam sunt quasi fugiat possimus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi maxime sunt, reprehenderit perferendis fuga odio libero soluta, asperiores molestias recusandae omnis autem odit sequi labore. Totam sunt quasi fugiat possimus.</p>
            <div class="text-center">
                <button class="btn btn-primary mt-4">Back to Home</button>
            </div>
        </div>
    </div>
</section>
