<div class="container-fluid main-content">
    <div class="row">
        <section [ngClass]="showAddProduct ? 'col-md-7' : 'col-md-12'">
            <div class="product-header">
                <h1>Product List</h1>
                <button type="button" *ngIf="!showAddProduct" class="btn btn-outline-primary" (click)="showAddProducts()">Add Product</button>
                <button type="button" *ngIf="showAddProduct" class="btn btn-outline-primary" (click)="hideAddProducts()">Close</button>
            </div>
            <table class="table">
                <thead class="thead-light t-head">
                    <tr>
                        <th scope="col">Product Id</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Description</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Quantity in Kgs</th>
                        <th scope="col">Availability</th>
                        <th scope="col">Product Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products let i = index" (click)="selectProduct(i)"
                        [ngClass]="rowIndex == i ? 'active' : '' ">
                        <th scope="row">{{product.productId}}</th>
                        <td
                            [ngClass]="product.quantity < 200 && product.quantity >= 50 ? 'bg-warning' : ''">
                            {{product.productName}}</td>
                        <td>{{product.productDescription}}</td>
                        <td>{{product.createdDate | date: "yyyy-MMM-dd"}}</td>
                        <td>{{product.unitPrice | currency: "Rs."}}</td>
                        <td>{{product.quantity}}</td>
                        <td>
                            <p *ngIf="product.quantity <= 50">Lower Inventory Level</p>
                            <p *ngIf="product.quantity > 50 && product.quantity <= 200">Average Inventory Level</p>
                            <p *ngIf="product.quantity > 200">Sufficient Inventory Level</p>
                        </td>
                        <td>
                            <button type="button" [disabled]="rowIndex != i" class="btn-xs icon"><i class="fa fa-eye icon"></i></button>
                            <button type="button" [disabled]="rowIndex != i" class="btn-xs icon"><i class="fa fa-pencil-square-o icon"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="col-md-5" *ngIf="showAddProduct">
            <app-add-products></app-add-products>
        </section>
    </div>
</div>