<div class="container-fluid main-content">
    <div class="row">
        <section [ngClass]="showAddProduct || showEditProduct ? 'col-md-7' : 'col-md-12'">
            <div class="product-header">
                <h1> Product List <span *ngIf="!isLoading" (click)="refresh()" style="cursor: pointer">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </span>
                    <i *ngIf="isLoading" class="fa fa-refresh fa-spin fa-fw" aria-hidden="true"></i>
                </h1>
                <button type="button" *ngIf="!showAddProduct" class="btn btn-outline-primary"
                    (click)="showAddProducts()">Add Product</button>
            </div>
            <table class="table">
                <thead class="thead-light t-head">
                    <tr>
                        <th scope="col">Product Id</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Description</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Quantity (Kg)</th>
                        <th scope="col">Availability</th>
                        <th scope="col">Product Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products let i = index" (click)="selectProduct(i, product)"
                        [ngClass]="rowIndex == i ? 'active' : '' ">
                        <th scope="row">{{product.id}}</th>
                        <td [ngClass]="product.quantity < 200 && product.quantity >= 50 ? 'bg-warning' : ''">
                            {{product.productName}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.createdDate| date: "dd-MMM-yyyy"}}</td>
                        <td>{{product.unitPrice | currency: "Rs."}}</td>
                        <td>{{product.quantity}}</td>
                        <td>
                            <p *ngIf="product.quantity <= 50">Lower Inventory Level</p>
                            <p *ngIf="product.quantity > 50 && product.quantity <= 200">Average Inventory Level</p>
                            <p *ngIf="product.quantity > 200">Sufficient Inventory Level</p>
                        </td>
                        <td>
                            <button type="button" [disabled]="rowIndex != i" class="btn-xs icon"><i
                                    class="fa fa-eye icon"></i></button>
                            <button type="button" [disabled]="rowIndex != i" class="btn-xs icon" (click)="showEditProducts()"><i
                                    class="fa fa-pencil-square-o icon"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="col-md-5" *ngIf="showAddProduct || showEditProduct">
            <app-add-products *ngIf="showAddProduct" (productAddEvent)="updateProductList()" (closeAddEvent)="closeAddProducts()"></app-add-products>
            <app-edit-products *ngIf="showEditProduct" [product]="selectedProduct" (cancelEditEvent)="closeEditView()" (productAddEvent)="updateProductList()"></app-edit-products>
        </section>        
    </div>
</div>