nav {
    margin-top: 6.25rem;
    padding-top: 0;
    padding-bottom: 0;
    height: 3.125rem;
    background-color: var(--navbar-footer-color);
}

.nav-link {
    padding-block: 1rem;
    text-transform: uppercase;
    color: var(--primary-color);
}

.nav-link:hover {
    color: var(--body-text-color);
}