nav {
    margin-top: 6.25rem;
    padding-top: 0;
    padding-bottom: 0;
    height: 3.125rem;
    background-color: var(--light-color);
}

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
    padding-left: 0.5rem;
    text-decoration: none;
    background-image: linear-gradient(var(--primary-color), var(--primary-color)), linear-gradient(var(--light-color), var(--light-color));
    background-size: 0 3px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}

.nav-link:hover {
    background-size: 100% 3px, auto;
}