<div class="card mt-3">
    <div class="card-body">
        <div class="text-center my-3">
            <h3 class="text-primary-color fw-bold">SUBSCRIPTION FORM</h3>
            <p class="m-auto text-body-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit ad modi
                incidunt alias ab repellendus ullam doloribus vitae minima fuga, labore veniam odit reiciendis maxime
                soluta. Unde molestiae autem impedit?</p>
        </div>
        <form action="" class="row g-3 my-3 px-2">
            <div class="form-group col-md-5">
                <input type="text" class="form-control" placeholder="Your Name">
            </div>
            <div class="form-group col-md-5">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="col-md-2">
                <button class="btn btn-success btn-block w-100 px-1">SUBSCRIBE</button>
            </div>
        </form>
    </div>
</div>