<div class="add-product-section mt-3">
    <div class="box-head">
        <h1 class="pr-name">Add Supplier</h1>
        <button type="button" class="btn btn-light" (click)="cancel()">X</button>
    </div>
    <form [formGroup]="supplierFrom" (ngSubmit)="onSubmit()" class="row g-3">
        <div class="form-group">
            <label class="form-label">Supplier Name</label>
            <input type="text" class="form-control" formControlName="supplierName" />
            <div *ngIf="f['supplierName'].touched && f['supplierName'].invalid && f['supplierName'].errors && f['supplierName'].errors['required']"
                class="error">Supplier Name is required</div>
        </div>
        <div class="form-group">
            <label class="form-label">Supplier Address</label>
            <input type="text" class="form-control" formControlName="address" />
            <div *ngIf="f['address'].touched && f['address'].invalid && f['address'].errors && f['address'].errors['required']"
                class="error">Supplier Address is required</div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label">Joined Date</label>
                    <input type="date" class="form-control" formControlName="joinedDate" />
                    <div *ngIf="f['joinedDate'].touched && f['joinedDate'].invalid && f['joinedDate'].errors && f['joinedDate'].errors['required']"
                        class="error">Joined Date is required</div>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Mobile No</label>
                    <input type="text" class="form-control" formControlName="mobileNo" />
                    <div *ngIf="f['mobileNo'].touched && f['mobileNo'].invalid && f['mobileNo'].errors && f['mobileNo'].errors['required']"
                        class="error">Mobile Number is required</div>
                    <div *ngIf="f['mobileNo'].touched && f['mobileNo'].invalid && f['mobileNo'].errors && f['mobileNo'].errors['pattern']"
                        class="error">Invalid mobile number.</div>
                </div>
            </div>
        </div>
        <div class="col-12 text-end mt-5">
            <button type="button" class="btn btn btn-outline-secondary me-2"> cancel </button>
            <button type="submit" [disabled]="!supplierFrom.valid" class="btn btn-outline-primary"> Submit<i
                    *ngIf="isDataUploading" class="fa fa-spinner fa-pulse fa-fw"></i>
            </button>
        </div>
    </form>
</div>